*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: 'Press Start 2P', cursive;
    color: aliceblue;
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.headings{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headings h1{
    font-size: 55px;
}

.headings p{
    margin-left: center;
    margin-top: 15px;
    font-size: 35px;
}

.weapons{
    display: flex;
    justify-content: space-between;
    margin: 75px;
}

.weapons div{
    border: 4px solid white;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.weapons img{
    width: 99%;
    height: 99%;
    border-radius: 50%;
}

.weapons button{
    border-radius: 25px;
}

.score-label{
    display: flex;
    justify-content: center;
}

.score-label div{
    margin: 50px;
    font-size: 25px;
}

.scoreboard{
    display: flex;
    width: auto;
    height: 55px;
    justify-content: center;
    text-align: center;
}

.scoreboard  #left{
    margin-right: 255px;
}

.scoreboard .score{
    font-size: 50px;
}

.instuctions{
    padding-top: 115px;
    padding-bottom: 35px;
}